node_modules/
frontend/node_modules/
.abacus.donotdelete
*.log
*.pid
backend/data/
backend/workspace/images/*
backend/workspace/audio/*
!backend/workspace/images/.gitkeep
!backend/workspace/audio/.gitkeep
